/* Mocha: #b38065
Lime: #d5e9cd */

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  text-align: center;
}

section {
  min-height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #ffcc00;
}


li {
  list-style-type: none;
}

h1,
a,
h2,
h3,
a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  padding-top: 100px;
}

p {
  font-family: "Merriweather", serif;
  color: black;
  padding-bottom: 10px;
}

hr {
  width: 30px;
  height: 3px;
  background-color: #ffcc00;
  border: 0px;
  margin: 0 auto 20px auto;
}

#logo,
li,
img,
.button,
.fa-bars,
a {
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}


#logo {
  font-size: 25px;
  float: left;
  margin: 25px 0 0 50px;
}

#logo a:hover {
  color: #ffcc00;
}

header nav {
  float: right;
  margin: 10px 50px 0 0;
}

header nav ul li {
  float: left;
  margin-left: 40px;
}

header nav ul li a {
  font-size: 18px;
}

header nav ul li:hover {
  color: #ffcc00;
}

#home h1 {
  padding-top: 400px;
  font-size: 30px;
  color: #ffcc00;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

h2 {
  font-size: 150px;
  color: #ffcc00;
  margin-top: 0;
  padding-bottom: 150px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

#home {
  background-image: url(https://cdn1.imggmi.com/uploads/2018/9/23/bcfc76a5cb5ad520be7f4d50dea91f2c-full.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#zitat {
  width: 50%;
  margin: 0 auto;
  text-align: justify;
  font-size: 15px;
  line-height: 1.8;
}

#autor-zitat {
  width: 50%;
  margin: -10px auto 40px auto;
  font-size: 12px;
  text-align: right;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 180px 0 180px;
}

.box {
  width: 95%;
  margin: 1.5% auto;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.musiker-link {
  margin-top: 15%;
}

.musiker {
  text-align: left;
  width: 95%;
}

.musiker p {
  font-size: 14px;
  line-height: 1.7;
}

.box img {
  width: 40%;
  float: left;
  margin-right: 3em;
}

.video-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.video-container div {
  width: 30%;
}

#dates p {
  text-align: left;
  width: 40%;
  margin: 2em auto;
}

form input,
textarea {
  font-family: "Merriweather", serif;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid;
  border-color: black;
  outline: none;
}

#form:last-child {
  margin-bottom: 130px;
}

form input {
  width: 40%;
  height: 30px;
  padding: 10px;
}

form textarea {
  width: 40%;
  height: 200px;
  resize: none;
  padding-top: 6px;
  padding: 10px;
}

.input_text {
  color: grey;
  padding-left: 10px;
}

.button {
  background-color: white;
  color: grey;
  width: 30%;
  height: 40px;
}

.button:hover {
  background-color: #ffcc00;
}

footer {
  height: 40px;
  border-top: 1px solid #ffcc00;
}

footer a {
  line-height: 2.5em;
}

@media screen and (max-width: 1024px) {

  body {
    margin: 0px;
    padding: 0px;
  }

  #home h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 80px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .box {
    margin: 20px auto;
    width: 70%;
    height: auto;
    border-radius: 3px;
    padding: 20px;
  }

  .box i {
    margin: 25px;
  }
}